// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #FFFfff;
$dark: #3d273b;
$med: #6c2d2c;
$light: #9f4636;
$lightest: #f1dcc9;
$fruit: #DB6B50;
